<div class="agileits_header">
    <div class="container">
        <div class="w3l_offers">
            <p>SALE UP TO 70% OFF. USE CODE "SALE70%" . <a href="~/Registrations/ViewCart">SHOP NOW</a></p>
        </div>
        <div class="agile-login">
            <ul>
                <li><a href="~/Registrations/UserRegistration"> Create Account </a></li>
                <li><a href="~/Registrations/ViewProduct"> Home </a></li>
                <li><a href="~/HtmlTemplate/contact.html">Help</a></li>
                <li><a href="~/Admin/Product/AdminLogin">Admin</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a>@User.Identity.Name</a></li>
                    <li>@Html.ActionLink("Logout", "Logout", "Registrations")</li>
                }
                else
                {
                    <li><a href="~/Registrations/UserLogin">Login</a></li>
                }
            </ul>
        </div>
        <div class="product_list_header">
            <style>
                a:link {
                    color: green;
                    background-color: transparent;
                    text-decoration: none;
                }

                a:visited {
                    color: white;
                    background-color: transparent;
                    text-decoration: none;
                }

                a:hover {
                    color: green;
                    background-color: transparent;
                    text-decoration: underline;
                }

                a:active {
                    color: green;
                    background-color: transparent;
                    text-decoration: underline;
                }
            </style>            
                <a href="~/Registrations/ViewCart/1" class="fa fa-cart-arrow-down" aria-hidden="true"><b> Your Cart </b></a>            
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<div class="logo_products">
    <div class="container">
        <div class="w3ls_logo_products_left1">
            <ul class="phone_email">
                <li><i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : (+0123) 234 567</li>

            </ul>
        </div>
        <div class="w3ls_logo_products_left">
            <h1><a href="index.html">super Market</a></h1>
        </div>
        <div class="w3l_search">
            <form action="#" method="post">
                <input type="search" name="Search" placeholder="Search for a Product..." required="">
                <button type="submit" class="btn btn-default search" aria-label="Left Align">
                    <i class="fa fa-search" aria-hidden="true"> </i>
                </button>
                <div class="clearfix"></div>
            </form>
        </div>

        <div class="clearfix"> </div>
    </div>
</div>


